[submodule "lib/SFML"]
	path = lib/SFML
	url = git@github.com:SFML/SFML.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = git@github.com:google/googletest.git
[submodule "tools/AnimationEditor"]
	path = tools/AnimationEditor
	url = git@github.com:benreid24/Animation-Editor-2.git
