[submodule "lib/SFML"]
	path = lib/SFML
	url = git@github.com:SFML/SFML.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = git@github.com:google/googletest.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
