name: windows-verify

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  verify:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    
    - name: Point to glslc
      run: Add-Content $env:GITHUB_PATH "${{ github.workspace }}/tools/glslc/Windows"
      
    - name: configure
      run: cmake -S . -B ./build
      
    - name: make
      run: |
        cd build && cmake --build .

    - name: test
      run: build/tests/BLIB.t 
