name: macos-verify

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  verify:
    runs-on: macos-latest
    if: false

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'

    - name: Point to glslc
      run: echo "${{ github.workspace }}/tools/glslc/Macos" >> $GITHUB_PATH
      
    - name: configure
      run: cmake -S . -B ./build
      
    - name: make
      run: cd build && cmake --build .
    
    - name: test
      run: build/tests/BLIB.t 
